.revenue__elem {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid var(--bg-black-500);
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--bg-black-400);
  }

  &-loading {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    list-style: none;

    > svg {
      color: var(--color-primary);
      animation: spinner 2s linear infinite;
    }

    >span {
      display: flex;
    }
  }

  &-left {
    display: flex;
    align-items: center;
  }

  &-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  &-details {
    margin-left: 15px;
  }

  &-title {
    margin-bottom: 10px;
    font-weight: 500;
  }

  &-time {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    opacity: 0.7;

    li {
      span {
        color: var(--color-primary);
      }
    }

    hr {
      height: 2px;
      background-color: rgb(220 52 52);
    }
  }

  &-price {
    font-weight: 600;
  }

  &-btn {
    color: #fff;
    font-weight: 600;
    background-color: rgb(220 52 52);
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 520px) {
  .revenue__elem {
    flex-direction: column;

    &-left {
      flex-direction: column;
      gap: 20px;
    }

    &-btn {
      width: 100%;
    }
  }
}
