.crypto {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 70px);
  margin-top: 70px;
  padding: 20px;

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }

  &__title {
    margin-top: 40px;
    text-align: center;
  }

  &__add-portfolio {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    font-weight: 600;
  }

  &__subtitle {
    max-width: 80%;
    margin-bottom: 20px;
    color: var(--color-primary);
    text-align: center;
  }

  &__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
  }

  &__btns {
    width: max-content;
    margin-bottom: 40px;
    overflow: hidden;
    border-radius: 4px;
  }

  &__btn {
    color: var(--color-white);
    font-weight: 600;
    background-color: rgb(36 81 183 / 25%);
    border-radius: 0;
    transition: background-color 0.3s ease;

    &_active {
      background-color: rgb(36 81 183 / 45%);
    }
  }
}

@media screen and (max-width: 520px) {
  .crypto {
    margin-top: 60px;
    padding: 0;

    &__container {
      display: 15px;
      padding-bottom: 70px;
    }

    &__subtitle {
      max-width: initial;
    }
  }
}
