.authorization {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
  padding: 24px;
  text-align: center;

  &__btn {
    min-width: 250px;
    margin: 0 auto;
  }

  &__input {
    width: 100%;
  }

  &__description:nth-of-type(1) {
    text-align: left;
  }

  &__checkbox {
    margin: 0 auto;
    padding: 10px 0;
  }

  &__link {
    color: var(--color-primary);
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);

    &:hover {
      color: var(--color-primary-hover);
    }
  }
}

@media screen and (max-width: 520px) {
  .authorization {
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 15px;

    &__description:nth-of-type(1) {
      text-align: center;
    }

    &__btn {
      min-width: initial;
      margin: 0;
    }
  }
}
