#text1 {
  font-weight: bold;
  font-size: 16px;
  fill: var(--color-primary);
}

#text2 {
  fill: var(--color-primary);
}

#text3 {
  fill: var(--color-white);
}

.donutChart {
  display: flex;
  justify-content: center;
}
