.menu-list {
  &__title {
    min-width: 60px;
    color: var(--color-light-gray);
    border-radius: 6px;
    transition: all 0.3s ease;
  }

  &__link {
    text-decoration: none;

    li {
      display: flex;
      align-items: center;
      height: 40px;
      margin-top: 10px;
      list-style: none;
      border-radius: 6px;

      &:hover {
        background-color: var(--color-primary);

        .menu-list__title {
          color: var(--bg-black-700);
        }

        > span {
          color: var(--bg-black-700);
        }
      }

      > span {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 60px;
        height: 100%;
        color: var(--color-light-gray);
        font-size: 20px;
        border-radius: 6px;
        transition: all 0.3s ease;
      }
    }

    &_active {
      li {
        background-color: var(--color-primary);

        .menu-list__title {
          color: var(--bg-black-700);
        }

        span {
          color: var(--bg-black-700);
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .menu-list {
    &__link li {
      > span {
        min-width: 45px;
      }
    }
  }
}
