.cryptocurrency {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  &__input {
    display: none !important;
    margin-bottom: 30px;
  }

  &__table {
    width: 100%;
    border: none;
    border-radius: 4px;
    border-collapse: collapse;
  }

  th {
    padding: 10px;
    color: var(--color-light-gray);
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
  }

  td {
    height: 60px;
    padding: 10px;
    font-size: 14px;
  }

  &__name {
    color: var(--color-primary);
    font-weight: 600;
  }

  &__subtitle {
    color: var(--color-light-gray);
    white-space: nowrap;

    &_red {
      color: rgb(243 102 102);
    }

    &_green {
      color: rgb(102 243 102);
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  tbody tr {
    transition: background-color 0.4s ease;

    &:hover {
      background-color: rgb(0 0 0/ 15%);
    }
  }

  &__up {
    background-color: #53d06263;
  }

  &__no-data {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__no-results {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      mix-blend-mode: color-burn;
    }
  }

  &__down {
    background-color: #ff00244d;
  }
}

@media screen and (max-width: 630px) {
  .cryptocurrency {
    &__input {
      display: flex !important;
      margin-bottom: 0;
      padding: 0 10px;
    }
  }
}

@media screen and (max-width: 520px) {
  .cryptocurrency {
    th {
      padding: 0 5px;

      >span {
        display: none;
      }
    }

    &__input {
      width: 100%;
      margin-bottom: 10px;
    }

    &__name {
      max-width: 80px;
    }
  }
}
