.wallet {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  padding: 30px 20px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    max-width: 700px;
    padding: 20px;
  }

  &__wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
  }

  input[type='number'],
  input[type="number"]:hover,
  input[type="number"]:focus {
    appearance: textfield;
    appearance: none;
  }

  &__card {
    flex: 1;
    max-width: 200px;
    padding: 20px;

    &:nth-child(1) {
      background-color: rgb(75 168 61);
    }

    &:nth-child(2) {
      background-color: rgb(220 52 52);
    }

    &:nth-child(3) {
      background-color: rgb(50 167 226);
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    &_disabled {
      pointer-events: none;
    }
  }
}
