.wallet {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 70px);
  margin-top: 70px;
  padding: 20px;

  &__title {
    text-align: center;
  }

  &__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    padding: 20px;
  }

  &__wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
  }

  input[type='number'],
  input[type="number"]:hover,
  input[type="number"]:focus {
    appearance: textfield;
    appearance: none;
  }

  &__card {
    flex: 1;
    max-width: 200px;
    padding: 20px;

    &:nth-child(1) {
      background-color: rgb(75 168 61);
    }

    &:nth-child(2) {
      background-color: rgb(220 52 52);
    }

    &:nth-child(3) {
      background-color: rgb(50 167 226);
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    &_disabled {
      pointer-events: none;
    }
  }
}

@media screen and (max-width: 520px) {
  .wallet {
    margin-top: 60px;
    padding: 0;

    &__container {
      align-items: baseline;
      padding: 20px 10px;
    }

    &__wrapper {
      flex-wrap: wrap;
      gap: 10px;
      width: 100%;
    }

    &__card {
      max-width: initial;
      padding: 10px;
    }

    &__form {
      width: 100%;
    }
  }
}
