:root {
  --color-white: #fff;
  --bg-black-700: #19191a;
  --bg-black-600: #202022;
  --bg-black-500: #313135;
  --bg-black-400: #4a4a4f;
  --color-light-gray: #bfbfbf;
  --color-primary: #ff971d;
  --color-primary-hover: #ff971dcc;
  --border-gray-200: #313135;
}
