p {
  color: var(--color-light-gray);
}

.small-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.large-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

@media screen and (max-width: 520px) {
  .small-text {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  }

  .large-text {
    font-size: 14px;
  }
}
