.heading {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
}

.title {
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}
